.product{
    width: 100%;
    margin-top: 20px;
    display: flex;
}
.product-image{
    width: 35%;
    overflow: hidden;
}
.product-image > img{
    width: 100%;

}
.product-image div{
    margin-top: 10px;
}
.product-image div img{
    width: 24%;
    max-height: 50px;
    margin-right: 5px;
}
.product-inf{
    width: 65%;
    margin-left: 25px;
    font-size: 14px;

}
.product-inf ol{
    margin: 25px 0 20px 0;
}
.product-inf span{
    color: rgb(194, 23, 25);
    font-size: 22px;
}
.product-inf h2{
    font-weight: 500;
    margin: 30px 0 5px 0;
}
.product-inf p{
    margin-bottom: 20px;
    font-weight: 400;
}
.product-inf form label{
    display: flex;
    width: 200px;
    height: 22px;
    margin-top: 20px;
}
.product-inf form input{
    height: 100%;
}
.product-inf form input[type="number"]{
    width: 35%;
    margin-right: 5px;
}
.product-inf form input[type="button"]{
    width: 65%;
    box-shadow: none;
    background-color: rgb(194, 23, 25);
    border: none;
    color: white;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
.check{
    margin-top: 50px;
    font-variant: small-caps;
}
.check img{
    width: 74px;
}
.check div{
    background-color: #e8f5fe;
    text-align: center;
    font-size: 14px;
    padding: 10px 13px;
    font-weight: 400;
}
.check p:first-child{
    margin-bottom: 15px;
}
.check form{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.check form input {
    background-color: #63b4ed;
    border: none;
    color: white;
    padding: 5px 15px;

}
.check form input[value] {
    font-family: 'Roboto', sans-serif;
    font-variant: small-caps;
    font-weight: 300;
    font-size: 18px;
}
.check form > p{
    font-weight: bolder;
    font-size: 12px;

}