.recom-prod article{
    height: 380px;
}
.recom-prod .articles .img{
    height: 62%;

}

.recom-prod .name-star{
    width: 89%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /*padding: 0 25px;*/
    height: 10%;
    font-size: 16px;
    padding: 0 15px;
}
.recom-prod .name-star h2{
    font-size: 16px;
    margin-left: 10px;
}
.recom-prod .name-star img{
    margin-right: 6px;
}
.recom-prod .name-star span{
    font-size: 15;
    margin: 3px 5px 0 0;
}
.recom-prod .count{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8%;
    width: 74%;
    padding: 0 35px;
    font-size: 13px;

}
.recom-prod .inf{
    height: 20%;
    font-size: 14px;
    width: 89%;
    padding: 0 15px;
}