.seller{
    width: 100%;
    height: 125px; 
    display: flex;
    flex-direction: column;
    font-variant: small-caps;
}
.seller > div{
    width: 100%;
}
.seller-top {
    display: flex;
    flex-direction: row;
    height: 48%;
}
.seller-left{
    overflow: hidden;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    margin-right: 7px;
}
.seller-left img{
    width: 100%;
}
.seller-right {
    margin-top: 2px;
    display: flex;
    flex-direction: column; 
}
.seller-right span{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px
}
.seller-right span p{
    margin: 3px 0 0 2px; 
}
.seller-bottom {
    height: 25%;
}
.seller-bottom ul{
    display: flex;
    flex-direction: row;
}
.seller-bottom ul li{
    margin-right: 10px;    
}
.seller-bottom a:not(#select){
    text-decoration: underline;
    font-size: 13px;

}