nav{
    width: auto;
}
.seller{
    display: flex;
    flex-direction: column;
}
.seller-bottom ol{
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
    font-size: 19px;
    margin-bottom: 20px;
}
.seller-bottom ol li {
    padding: 5px;
}
.seller-bottom ol li a{
    padding: 4px;
    margin-right: 5px;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px !important;
}
.seller-bottom ol li a:not(#select){
    text-decoration: underline;
}
.seller-bottom h2{
    margin-bottom: 20px;
    font-weight: 500;
}
#select{
    background-color: #e1e1e1;
}