@font-face {
    font-family: Roboto;
    src: url('../font/Roboto-Light.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
}

body{
    overflow: hidden;
}

.wrapper{
    height: 100vh;
    background: rgba(0, 0, 0, .7) url("../images/Layer 2.png") no-repeat fixed;
    background-blend-mode: darken;
    background-size: cover;
}
.container{
    width: 1170px;
    margin: 50px auto;
    padding: 20px 0;
}

#header{
    padding: 20px;
}
.container{
    text-align: center;
}
.container >  p{
    font-size: 22px;
}
section{
    margin: 50px 0;
    padding: 20px 0;
}
section > p{
    padding: 5px;
    font-size: 19px;
}
.block-register > a{
    background: #83f468;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    width: 400px;
    text-decoration: none;
    color: black;
    margin-top: 25px;
}
section > form > input{
    width: 250px;
    height: 35px;
    color: black;
    padding-left: 10px;
    font-size: 16px;
}
section > form > input::placeholder{
    font-weight: bold;
}

section > form > a{
    width: 150px;
    height: 35px;
    background: #83f468;
    display: inline-block;
    line-height: 35px;
    text-decoration: none;
    color: black;
}







/*font-family: 'Roboto', sans-serif;*/
/*font-weight: 300;*/
/*text-align: center;*/