/*Global setting - START*/
@font-face {
    font-family: Comic;
    src: url('../font/911Fonts.com_ComicSansMSRegular__-_911fonts.com_fonts_BpCS.ttf');
}
@font-face{
    font-family: 'Roboto-Light';
    src: url('../font/Roboto-Light.ttf');
}
@font-face{
    font-family: 'Roboto-Regular';
    src: url('../font/Roboto-Regular.ttf');
}
@font-face{
    font-family: 'Roboto-Medium';
    src: url('../font/Roboto-Medium.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Roboto-Regular, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
ol, ul{
    list-style: none;
}
input[placeholder], input[type="button"]{
    font-family: Roboto-Regular, sans-serif;
}
a{
    color: black;
    cursor: pointer;

}
body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto-Regular', sans-serif;
    font-variant: small-caps;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*Header - START*/
header {
    width: 100%;
    height: 37.8px;
    display: flex;
    align-items: center;
    margin: 20px 0 70px 0;
}
.logo{
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 25px;
    color: rgb(0, 0, 0);
    line-height: 1.04;
    margin-right: 140px;
    font-weight: 300;

}

/*Search - START*/
.search{
    height: 100%;
    width: 746px;
    position: relative;

}
.search input {
    border: 1px solid black;
    padding: 19px;
}
.search .input {
    width: 100%;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.search .input:focus {
    background: white;
    color: black;
    outline: none;
}
.search .input::placeholder {
    font-size: 13px;
    color: rgb(157, 157, 157);
    font-variant: small-caps;
    line-height: 2;
}
input[type="search"] {
    -webkit-appearance: none;
    font-size: 16px;
}
.search img{
    width: 19px;
    height: 19px;
    position: absolute;
    top: 10px;
    right: 10px;
}
/*Search - STOP*/

.nav{
    display: flex;
    font-family: Roboto-Medium, sans-serif;
}
.nav div{
    margin-left: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.point img{
    margin-right: 5px;
}
.nav span{
    font-size: 16px;
    font-family: 'Roboto-Regular', sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    line-height: 1.625;
    font-weight: 400;
}
/*Header - STOP*/
/*Main - START*/
.main{
    min-height: 524px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
nav{
    width: 21%;
}
nav ol{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -10px;
}
nav ol li{
    width: 100%;
    padding: 6px 0 6px 10px;
}
nav ol li a{
    display: flex;
    align-items: center;
    font-size: 12px;
    width: 100%;
    color: black;
    text-decoration: none;
    font-weight: 500;
}
nav ol li:not(#active) a:hover{
    color: rgb(194, 23, 25);
    transition: all 0.3s;
}
#actives {
    color: #888888;
}
nav span:first-letter{
    font-size: 16px;
    font-weight: 400;
}
#active{
    background-color: #f29d20;
}
nav img{
    width: 22px;
    margin-right: 5px;
}
section{

}
/*Main - STOP*/

/*Content - START*/
.content{
    width: 74.76%;
    font-variant: small-caps;
    margin-bottom: 50px;
}
section{
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}
section h1{
    margin-bottom: 20px;
}

/*БЛОК ТОВАРУ - START*/

.articles{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-variant: small-caps;
    /*background: red;*/
}
.articles article{
    width: 270px;
    height: 350px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 11px 3px #eaeaea;
}
.articles article div{
    width: 100%;
    display: flex;
    align-items: center;
}
.articles .img {
    height: 42%;
    width: 270px;
    background-color: blue;
    overflow: hidden;
}
.articles .img img {
    border: none;
    width: 100%;
}
.articles .name {
    height: 11%;
    border-bottom: dashed 1px black;

}
.articles .name h2{
    padding: 7px 0 0 5px;
    font-size: 18px;
}
.articles .inform {
    height: 33%;
    width: 97%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 12px;
    align-items: flex-start;
}
.articles .inform-{
    font-size: 14px;
    height: 20%;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.articles .inform > span {
    font-size: 24px;
    color: rgb(194, 23, 25);
    line-height: 1.13;
    margin:  0 0 15px 0;
    font-weight: 300;
}
.articles .seller {
    width: 100%;
    height: 14%;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    text-decoration: underline;
    background-color: #f6f6f6;
}
.articles .seller:last-child{
    font-size: 15px;
    text-decoration: none;
    font-weight: 400;
    flex-direction: row;
}
.articles .seller span{
    display: flex;
    align-items: center;
}
.articles .seller span img{
    margin-right: 5px;
}
/*БЛОК ТОВАРУ - STOP*/

.filter{
    width: 100%;
    margin: 10px 0 25px 0;
    font-size: 14px;
}
.filter ol{
    font-weight: 500;
    font-size: 18px;
    display: flex;
}
.filter li{
    margin-right: 20px;
}
.filter ol:first-child{
    margin-right: 50px;
}
/*Content - STOP*/

/*Footer - START*/
footer{
    width: 100%;
    height: 100px;
    background-color: #ebebeb;
}
footer .footer-wrapper{
    width: 1200px;
    height: 100%;
    display: flex;
    font-size: 11px;
    font-weight: 500;
    margin: auto;
}
footer .footer-wrapper > .right-article{
    width: 75%;
    display: flex;
    justify-content: space-between;
}
footer .footer-wrapper > .right-article > article{
    width: 270px;
}
footer .footer-wrapper > .left-article{
    width: 25%;
}
footer a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-bottom: 1px solid black;
}
footer a:hover{
    color: rgb(194, 23, 25);
    transition: all 0.3s;
}

footer h3 {
    font-size: 13px;
    font-weight: 500;
}
footer h3 span {
    font-size: 17px;
    font-weight: 400;
}
footer span {
    font-size: 15px;
    font-weight: 400;
}
footer ol > li{
    margin: 5px 0;
}



/*Dialog window basket*/

#dialog-wrapper{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: none;
}
#dialog-wrapper .dialog-window{
    width: 960px;
    background: white;
}
#dialog-wrapper .dialog-window .dialog-header{

    display: flex;
    justify-content: space-between;
    padding: 5px;
}
#dialog-wrapper .dialog-window .dialog-header img{
    width: 40px;
}

#dialog-wrapper .dialog-window .dialog-header h2{
    margin: 5px 15px;
}

#dialog-wrapper .dialog-content{
    padding: 5px 20px;
}
#dialog-wrapper .dialog-content .dialog-content-item{
    margin: 10px 0;
    display: flex;
}
#dialog-wrapper .dialog-content .dialog-content-item .item-info{
    flex-grow: 3;
}
.dialog-content-item > div{
    margin: 2px;
    flex-grow: 1;
}
.dialog-content-item .item-info{
    display: flex;
}
.dialog-content-item .item-info .item-title{
    padding-left: 20px;
}

.dialog-content-item .wrapper-item-count, .item-price, .item-delete{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.dialog-content-item .wrapper-item-count .item-count{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;
    border: 1px solid black;
    padding: 5px;
}
.wrapper-item-count .item-count #countItem{
    font-size: 18px;
}

.dialog-content-item .item-price #priceItem{
    font-size: 16px;
    font-weight: 500;
}

#dialog-wrapper .dialog-window .dialog-footer{

}
#dialog-wrapper .dialog-window .dialog-footer > div{
    display: flex;
    justify-content: flex-end;
    margin: 10px 10px;
}
#dialog-wrapper .dialog-window .dialog-footer .price-total{
    display: flex;
    width: 301px;
    margin: 10px 105px;
}
#dialog-wrapper .dialog-window .dialog-footer .price-total p:nth-child(1){
    width: 135px;
}
#dialog-wrapper .dialog-window .dialog-footer .price-total p {
    font-weight: 500;
    margin: 2px;
    width: 100px;
}

#dialog-wrapper .dialog-window .dialog-footer .block-checkout a{
    width: 250px;
    background: red;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
    margin: 10px 40px;
}


/* End dialog basket*/

/*---index---*/

.index .clear{
    content: '';
    display: table;
    clear: both;
}
.index .wrapper{
    height: 100vh;
    width: auto;
    display: block;
    background: rgba(0, 0, 0, .5) url("../images/img 2.png") no-repeat fixed;
    background-blend-mode: darken;
    background-size: cover;
}

.index  #navigation{
    width: 1170px;
    margin: auto;
    padding: 20px 10px;
}
.index .logo{
    float: left;
}
.index .logo p{
    font-size: 27px;
    color: white;
    font-family: 'Comic', sans-serif;
}
.index .btn-seller{
    float: right;
}
.index .btn-seller > a{
    display: inline-block;
    color: white;
    text-decoration: none;
    /*font-weight: 700;*/
    outline: none;
    font-size: 14px;
    font-weight: 500;
    background: #4d7e2c url("../images/fermer.png") no-repeat 10px center;
    background-size: 25px;
    padding: 5px 25px 5px 45px;
}
.index .btn-seller a:first-letter{
    font-size: 20px;
}
.index  .container{
    margin: auto;
    padding: 20px 10px;
}
.index #content{
    width: 960px;
    height: 330px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: white;
    text-align: center;
    padding: 17px;
    line-height: 25px;
    font-weight: 300;
}
.index #content > h1{
    padding: 5px;
    font-size: 30px;
    font-weight: 400;
}
.index #content > h1:first-letter{
    font-size: 40px;
}
.index #content > p{
    margin-top: 30px;
}
.index #content > form{
    /*background: grey;*/
    margin-top: 50px;
}
.index #content > form label{
    font-size: 19px;
    display: block;
    padding: 15px 0;
    font-weight: 400;
}
.index #content > form label:first-letter{
    font-size: 28px;
}
.index #content > form input{
    width: 100%;
    height: 50px;
    font-size: 25px;
    padding-left: 10px;
    font-weight: 600;
    color: #a2a2a2;
    font-variant: small-caps;
}

/*---sellers---*/

.sellers {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto-Light', sans-serif !important;
    font-weight: 300;
    color: white;
    overflow: hidden;
}
.sellers p, h1, h2{
    font-family: 'Roboto-Light', sans-serif !important;
}
.sellers .wrapper{
    height: 100vh;
    width: auto;
    display: block;
    background: rgba(0, 0, 0, .7) url("../images/Layer 2.png") no-repeat fixed;
    background-blend-mode: darken;
    background-size: cover;
}
.sellers .container{
    width: 1170px;
    margin: 50px auto;
    padding: 20px 0;
}

.sellers #header-sellers{
    padding: 20px;
}
.sellers .container{
    text-align: center;
}
.sellers .container >  p{
    font-size: 22px;
}
.sellers .container div{
    margin: 50px 0;
    padding: 20px 0;
}
.sellers .container div > p{
    padding: 5px;
    font-size: 19px;
}
.sellers .block-register > a{
    background: #83f468;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    width: 400px;
    text-decoration: none;
    color: black;
    margin-top: 25px;
}
.sellers .container div > form > input{
    width: 250px;
    height: 35px;
    color: black;
    padding-left: 10px;
    font-size: 16px;
}
.sellers .container div > form > input::placeholder{
    font-weight: bold;
}

.sellers .container div > form > a{
    width: 150px;
    height: 35px;
    background: #83f468;
    display: inline-block;
    line-height: 35px;
    text-decoration: none;
    color: black;
}

/*---catalog---*/
.recom-prod article{
    height: 380px;
}
.recom-prod .articles .img{
    height: 62%;
}
.recom-prod .name-star{
    width: 89%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 10%;
    font-size: 16px;
    padding: 0 15px;
}
.recom-prod .name-star h2{
    font-size: 16px;
    margin-left: 10px;
}
.recom-prod .name-star img{
    margin-right: 6px;
}
.recom-prod .name-star span{
    font-size: 15px;
    margin: 3px 5px 0 0;
}
.recom-prod .count{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8%;
    padding: 0 35px;
    font-size: 13px;
}
.recom-prod .inf{
    height: 20%;
    font-size: 14px;
    width: 100%;
    padding: 0 15px;
}
/*---catalog-seller---*/
.seller{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-variant: small-caps;
}
.seller > div{
    width: 100%;
}
.seller-top {
    display: flex;
    flex-direction: row;
    height: auto;
    margin-bottom: 20px;
}
.seller-left{
    overflow: hidden;
    border-radius: 70px;
    height: 50px;
    width: 50px;
    margin-right: 7px;
}
.seller-left img{
    width: 100%;
}
.seller-right {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
}
.seller-right span{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px
}
.seller-right span p{
    margin: 3px 0 0 2px;
}
.seller-bottom {
    height: auto;
}
.seller-bottom ul{
    display: flex;
    flex-direction: row;
}
.seller-bottom ul li{
    margin-right: 15px;
}
.seller-bottom a {
    display: inline-block;
}
.seller-bottom a:not(#select){
    text-decoration: underline;
    font-size: 14px;

}
/*---catalog-seller-product---*/
.product{
    width: 100%;
    margin-top: 20px;
    display: flex;
}
.product-image{
    width: 35%;
    overflow: hidden;
}
.product-image > img{
    width: 100%;

}
.product-image div{
    margin-top: 10px;
}
.product-image div img{
    width: 24%;
    max-height: 50px;
    margin-right: 5px;
}
.product-inf{
    width: 65%;
    margin-left: 25px;
    font-size: 14px;

}
.product-inf ol{
    margin: 25px 0 20px 0;
}
.product-inf span{
    color: rgb(194, 23, 25);
    font-size: 22px;
}
.product-inf h2{
    font-weight: 500;
    margin: 30px 0 5px 0;
}
.product-inf p{
    margin-bottom: 20px;
    font-weight: 400;
}
.product-inf form label{
    display: flex;
    width: 200px;
    height: 22px;
    margin-top: 20px;
}
.product-inf form input{
    height: 100%;
}
.product-inf form input[type="number"]{
    width: 35%;
    margin-right: 5px;
}
.product-inf form input[type="button"]{
    width: 65%;
    box-shadow: none;
    background-color: rgb(194, 23, 25);
    border: none;
    color: white;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Roboto-Regular', sans-serif;
}
.check{
    margin-top: 50px;
    font-variant: small-caps;
}
.check img{
    width: 74px;
}
.check div{
    background-color: #e8f5fe;
    text-align: center;
    font-size: 14px;
    padding: 10px 13px;
    font-weight: 400;
}
.check p:first-child{
    margin-bottom: 15px;
}
.check form{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.check form input {
    background-color: #63b4ed;
    border: none;
    color: white;
    padding: 5px 15px;

}
.check form input[value] {
    font-family: 'Roboto-Regular', sans-serif;
    font-variant: small-caps;
    font-weight: 300;
    font-size: 18px;
}
.check form > p{
    font-weight: bolder;
    font-size: 12px;

}
/*---orders---*/
.orders-nav{
    width: auto;

}
.seller{
    display: flex;
    flex-direction: column;
}
.seller-bottom ol{
    display: flex;
    flex-direction: row;
    width: 363px;
    justify-content: space-between;
    font-size: 19px;
    margin-bottom: 20px;
    margin-left: -10px;
}
.seller-bottom ol li {
    padding: 5px;
}
.seller-bottom ol li a{
    padding: 4px;
    margin-right: 5px;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px !important;
}
.seller-bottom ol li a:not(#select){
    text-decoration: underline;
}
.seller-bottom h2{
    margin-bottom: 20px;
    font-weight: 500;
}
#select{
    background-color: #e1e1e1;
}
/*---product---*/
table{
    margin-top: 25px;
}
table tr{
    min-height: 55px;
    display: flex;
    flex-direction: row;
}
table td{
    display: flex;
    align-items: center;
    margin: 0 10px;
    width: 100px;
}
table .img-{
    width: 60px;
    height: 30px;
    overflow: hidden;

}
table .img{
    margin: 0;
    width: auto;
}
table .img img{
    width: auto;
    min-width: 60px;
    max-width: 500px;
    height: auto;
}
.name{
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 14px;
    width: 190px;
}
.name a{
    text-decoration: none !important;
}
.minimum-order, .price{
    font-size: 12px;
    font-weight: 400;
}
.deactivate, .delete{
    color: rgb(194, 23, 25);
    font-size: 12px;
    cursor: pointer;
}
/*---review---*/
.seller-bottom p{
    font-weight: 400;
}
/*---seller's-office---*/
form .add-product{
    background-color: #83f468;
    padding: 5px;
    font-size: 16px;
    border: none;
    font-variant: small-caps;
}
.seller-bottom{

}
/*---seller-page---*/
.seller-page-nav{
    margin-right: -25px;
    width: 21%;
    margin-top: -30px;
}
.seller-page-nav ol{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 14px;
    font-variant: small-caps;
    margin: 0 0 19px 0 !important;
    width: 400px;
}
.seller-page-nav ol li{
    width: auto;
    display: flex;
    flex-direction: row;
    padding: 0;
}
.seller-page-nav ol li a{
    font-weight: 400;
    text-decoration: underline;
    margin: 0 2px;
    font-size: 13px;
}
.seller-page-nav ol li:not(#active) a:hover{
    color: black;
    transition: all 0.3s;
}
#actives a{
    color: #908b8b !important;
}
.seller-page-nav .img {
    height: 42%;
    width: 250px;
    overflow: hidden;
    margin-top: 15px;
}
.seller-page-nav .img img {
    border: none;
    width: 100%;
    margin: 0;
}
.seller-page-nav .seller-inf{
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-around;

}
.seller-page-nav .seller-inf span{
    display: flex;
    align-items: center;
    font-size: 15px;
}

.seller-page-nav .seller-inf ol li{
    margin-right: 10px;
    font-size: 12px;
    font-weight: 400;
}
.seller-inf p{
    font-size: 12px;
}

.content p{
    margin: 10px 0;
    font-weight: 400;
}
.content .galar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.content .galar .img{
    height: 42%;
    margin-right: 20px;
    width: 24.90%;
    overflow: hidden;
    margin-top: 15px;
}
.content .img img {
    border: none;
    width: 100%;
    margin: 0;
}
.content .seller-page-document{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
}

.content > a{
    margin-top: 5px;
    font-size: 13px;
}
/*---there-are-orders---*/
.seller-bottom p{
    border-bottom: solid 1px black;
    font-size: 14px;
    width: auto;
    margin-bottom: 2px;
}
/*---profile---*/
.profile-form:not(input){
    font-family: Roboto-Regular, sans-serif;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 14px;
}

.profile-form > label, .profile-form > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.profile-form > label input{
    width: 170px;
    height: 25px;
}
.profile-form > div > input{
    font-size: 17px;
    background-color: #83f468;
    border: none;
    padding: 7px 25px;
    margin-top: 10px;
    cursor: pointer;
    font-family: "Roboto-Medium", sans-serif;
}
.avatar-profile{
    margin-top: 15px;
}
.profile-form > .avatar-profile > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 188px;
    justify-content: space-between;
}
.profile-form .seller-left{
    height: 60px;
    width: 60px;

}
.file_upload{
    display: block;
    position: relative;
    overflow: hidden;
    font-size: 1em;
    height: 2em;
    line-height: 2em;
    width: auto;
    cursor: pointer;
}
.file_upload .button, .file_upload > mark{
    display: block;
    cursor: pointer
}
.file_upload .button{
    float: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 8em;
    height: 100%;
    text-align: center;
    background-color: #83f468;
    cursor: pointer;
}
.file_upload > mark{
    background: transparent;
    padding-left: 1em
}
.file_upload input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    /*transform: scale(20);*/
    letter-spacing: 10em;
    /*-ms-transform: scale(20); */
    opacity: 0;
    cursor: pointer

}
/*---reg-seller---*/
.reg-seller{
    margin-left: 40px;
}
.reg-seller h2{
    margin-bottom: 50px;
}
.check-box {
    justify-content: flex-start !important;
    font-size: 14px;
    margin-top: 20px;
}
.check-box input[type="checkbox"]{
    width: 15px;
    border: 5px solid black;
    margin-right: 10px;
}
/*---checkout---*/
.checkout-form-table{
    display: block;
    width: auto;
    font-size: 14px;
}
.checkout-form-table tr td {
    margin: 0;
    width: auto;
}
.checkout-form-table tr td input[type="text"], .checkout-form-table tr td input[type="number"]{
    width: 170px;
    height: 25px;
}
.checkout-form-table tr td:first-child{
    width: 200px;
}
.checkout-form-table .point{
    margin-right: 115px;
    display: flex;
    align-items: center;
}
.checkout-form-table .point img{
    width: 16px;
}
.message-email-{
    width: 170px !important;
    height: 60px;
    background-color: #e8e8e8;

}
.message-email- p{
    font-size: 12px;
    text-align: center;
    padding: 10px;
}
.radio- {
    font-size: 13px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.radio- label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}
.radio- label input{
    margin-right: 5px;
}
.checkout-form {
    margin-bottom: 50px;
}
.checkout-form .button input, .checkout-form-table .button{
    padding: 5px 20px;
    background-color: #c21719;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
    font-variant: small-caps;
}

/*---about-production---*/
.about-production-nav{
    margin-top: -25px;
}
#about-production table tr td:first-child {
    width: 120px;
}
#about-production table tr{
    min-height: 65px;
}
.checkout-form-table .description {
    display: flex;
    align-items: flex-start;
}
#description{
    width: 400px;
    height: 100px;
    padding: 7px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.about-production-img label{
    margin-right: 5px;
}

.about-production-img img{
    width: 40px;

}
#about-production .button input{
    width: 241px;
    margin-top: 25px;
}
/*---product-add---*/
.production-add tr{
    font-size: 13px;
}
.production-add .price > span, .production-add .min > span{
    margin: 0 5px;
}
.production-add .price label span{
    padding: 5px;
    cursor: pointer;
}
.production-add .price #price-checked{
    /*background-color: #d0d0d0;*/
}
.product-add-radio label{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.product-add-radio label input{
    margin: 0 5px 0 8px;
}
.about-production-img img{
    cursor: pointer;
}
.production-add .button input{
    background-color: #b4b4b4;
}